@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.login_header_container {
    width: 100%;
    align-items: center !important;
    z-index: 2;
}

.login_header {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    align-items: center !important;
    padding: 4vh 7vh;
    border-radius: 0 0 5vh 5vh;
    background-color: var(--site-secondary);
    filter: opacity(0.7);
    height: 20vh;
}

.title_middle {
    color: gainsboro;
    margin: 0 2vw;
    font-weight: bold;
    font-size: 2.5vw;
}

.title_image {
    /*width: 25vw;*/
    height: 16vh;
    padding: 1vw;
    border-radius: 1vw;
    cursor: pointer;
}

.title_image:hover {
    scale: 1.05;
    transition-duration: 150ms;
}

/*margin-bottom: calc(1vh - mod(1vh, 8px));*/

.led_matrix_stack {
    cursor: pointer;
    align-items: center !important;
    z-index: 2;
}

.led_matrix {
    height: 8px;
    width: 8px;
    background-color: transparent;
}

.led_matrix_active {
    height: 7px;
    width: 7px;
    margin: 1px 1px 0 0;
    border-radius: 2px;
}

.led_matrix_stack .led_matrix_active {
    /*background-color: rgb(255, 234, 0, .85);*/
    /*background-image: url(*/
    /*"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='6' height='6' rx='2' fill='%23ffea00d9'/%3E%3C/svg%3E"*/
    /*);*/
    background-image: url(
    "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='7' height='7' rx='2' fill='%23E0E0E0C0'/%3E%3C/svg%3E"
    );
}

.led_matrix_border .led_matrix_active {
    background-image: url(
    "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='6' height='6' rx='2' fill='%23ffea00d0'/%3E%3C/svg%3E"
    );
}

.led_matrix_border {
    position: absolute !important;
    width: 100%;
    height: auto;
    z-index: 1;
    bottom: 32px;
}

.led_matrix_stack:hover .led_matrix_active {
    transition-duration: 150ms;
    box-shadow: 0 0 2px 2px rgb(255, 234, 0, .60);
    background-image: url(
    "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect width='8' height='8' rx='2' fill='%23ffeaffd9'/%3E%3C/svg%3E"
    );
}

.led_matrix_stack:active .led_matrix_active {
    transition-duration: 100ms;
    box-shadow: 0 0 2px 2px rgb(255, 234, 0, .80);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(calc(-50% - 7rem)) translateX(-50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) translateX(-50%) scale(1);
    }
}

.login_card {
    background: linear-gradient(0deg, #303239E0, var(--site-secondary) 90%);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*max-width: 24em;*/
	max-width: 30em;
    padding: 2rem;
    border-radius: 2rem;
    animation: fadeIn 150ms ease-out;
    position: absolute;
}

@keyframes title_gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.game_title {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: title_gradient 8s linear infinite;
    background-size: 400% 100%;
    color: transparent;
    /*-moz-background-clip: text;*/
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 4rem;
    height: 100%;
    font-family: "Poetsen One", serif;
    justify-content: center;
    padding-top: 1rem;
    filter: brightness(1.1);
    /*margin: 10px 0;*/
}

.game_title_wrap {
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    letter-spacing: 1px;
    width: 100%;
}

.game_description {
    font-weight: bold;
    color: #E0E0E0C0;
    font-size: 2rem;
    width: 100%;
    overflow: clip;
    text-align: center;
    justify-content: center;
    align-items: center;
    filter: opacity(0.9);
}