.sidebar {
    position: fixed;
    height: 100dvh;
    width: 20rem;
    top: 0;

    color: var(--text-normal);
    background-color: var(--site-secondary);
    font-weight: 500;

    z-index: 10;
    overflow: hidden;
    border-right: 2px solid #ffffff20;
}

.logo_image {
    width: 100%;
    padding: 1.2em;
    z-index: 11;
    filter: brightness(90%);
}

.logo_image:hover {
    transition: 150ms;
    filter: brightness(100%);
    transform: scale(1.03);

    background-color: #ffffff10;
}

.seperator {
    padding: 0.25em 1em;
    height: 1px;
    margin: 2px;
    width: 100%;
}

.seperator > span {
    width: 100%;
    background-color: #ffffff29 !important;
}


