@keyframes navigation_impulse {
    0% {
        filter: hue-rotate(-10deg);
    }
    50% {
        filter: hue-rotate(10deg);
    }
    100% {
        filter: hue-rotate(-10deg);
    }
}

.navigation_element {
    padding: 0.15em 1em 0.15em 1em;
    width: 100%;
    display: flex;
}

.navigation_element a {
    padding: 0.5em 1.2em 0.5em 0.5em;
    color: var(--text-normal) !important;
    width: 100%;
    border-radius: 1em;

    text-decoration: none;
    word-break: break-word;
}

.navigation_element svg {
    flex-shrink: 0;
}


.navigation_element:hover a {
    transition: 250ms ease;

    color: var(--hover-nav-color) !important;
    animation: navigation_impulse 2.5s linear infinite;

    background-color: #ffffff10;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    padding: 0.5em 0.5em 0.5em 1.2em;
}

.navigation_element:hover .nav_icon {
    transform: rotate(20deg);
    transition: 350ms ease;
}

.navigation_element_highlight a {
    color: var(--hover-nav-color) !important;
    animation: navigation_impulse 3s linear infinite;

    /*margin-left: 0.75em;*/
    /*text-decoration: underline;*/
}

.sidebar_links .rt-ScrollAreaThumb {
    background-color: #ffffff20;

}

.sidebar_links .rt-ScrollAreaThumb:hover {
    background-color: #ffffff30;
}
