.widget-codeblock {
    height: unset !important;
}

.widget-codeblock pre {
    background: var(--widget-primary) !important;
}

.widget-codeblock code {
    background: transparent !important;
}

.widget-codeblock .rt-ScrollAreaScrollbar {
    margin-inline: 0.5em;
}

.widget-codeblock .rt-ScrollAreaThumb {
    background-color: #ffffff29;

}

.widget-codeblock .rt-ScrollAreaThumb:hover {
    background-color: #ffffff40;
}

.widget-codeblock pre {
    margin: 0 0 !important;
    border-radius: 0.5em !important;
}

.python_exec {
    width: 100%;
    background-color: var(--site-secondary);
    padding: 1em 0 1em 0;
    border-radius: 1em;
}

.python_exec .rt-TextFieldRoot {
    --text-field-focus-color: var(--hover-nav-color);
    border-radius: 0.5em;
}

.python_exec input {
    color: var(--text-normal);
    background-color: var(--site-secondary);
}

.python_exec_panel {
    padding: 0.75em;
}

.python_exec_panel .rt-loading {
    background-color: var(--accent-10);
    filter: opacity(70%);
}