@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.player_avatar {
    position: absolute;
    width: 20vw;
    max-height: 70vh;
    bottom: 0;
    /*background-color: #e73c7e;*/
    z-index: 1;
}

@keyframes staticAnimation {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: -36px;
    }
}

@keyframes glitchAnimation {
    90% {
        transform: translate(0, 0);
    }
    91% {
        transform: translate(10px, 10px);
    }
    92% {
        transform: translate(-10px, -10px);
    }
    93% {
        transform: translate(0, 0);
    }
}

.talk_box {
    position: absolute;
    width: 50vw;
    max-width: 100vh;
    height: 20vh;
    bottom: 5vh;
    left: calc(25vw + max(0px, calc(25vw - 50vh)));
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: calc(2em - 10px);
    line-break: normal;
    font-size: 2.75vh;
}

.talk_arrow {
    content: "";
    position: absolute;
    border-style: solid;
    bottom: 0;
    left: -2.45em;
    z-index: 3;
    border-width: 0 0 2.45em 2.45em;
    border-color: transparent transparent rgba(255, 255, 255, 0.15) transparent;

}

.talk_box_bubble_left::before {
    content: "";
    position: absolute;
    top: -2.5em;
    left: -10px;
    right: -10px;
    bottom: -10px;
    /*background-color: ;*/
    z-index: -1;
    border-radius: 2em 2em 2em 0;

    background: repeating-linear-gradient(0deg, rgba(51, 181, 229, 0.55), rgba(51, 181, 229, 0.55) 3px, rgba(51, 181, 229, 0.4) 3px, rgba(51, 181, 229, 0.4) 36px);
    background-size: 100% 150%;
    animation: staticAnimation 3s linear infinite;
}

.talk_box_bubble_right::before {
    content: "";
    position: absolute;
    top: -2.5em;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    border-radius: 2em 2em 0 2em;

    background: repeating-linear-gradient(0deg, rgba(51, 181, 229, 0.5), rgba(51, 181, 229, 0.5) 3px, rgba(51, 181, 229, 0.4) 3px, rgba(51, 181, 229, 0.4) 36px);
    background-size: 100% 150%;
    animation: staticAnimation 3s linear infinite;
}


.talk_box_bubble_left::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -60px;
    z-index: -2;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent rgba(51, 181, 229, 0.4) transparent;
}

.talk_box_bubble_right::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -60px;
    z-index: -2;
    border-width: 0 50px 50px 0;
    border-color: transparent transparent rgba(51, 181, 229, 0.4) transparent;
}

.talk_box_scroll {
    padding: 0.5em 0 0.5em calc(36px + 0.8em);
    margin-right: calc(36px + 0.8em);
}

/*.talk_box_scroll .rt-ScrollAreaViewport {*/
/*    flex-direction: column-reverse;*/
/*}*/

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

.talk_box_scroll p::after {
    z-index: 4;
    content: "";
    border-radius: 2px;
    width: 3px;
    height: 1.2em;
    background: #ffffffc0;
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
    transform: translateY(0.1em) translateX(5px);
    position: absolute;
}

.forward_button {
    z-index: 3;
    cursor: pointer;
}

.forward_button:hover {
    transition: 150ms;
    filter: opacity(70%);
    transform: scale(1.05);
}

.forward_button:active {
    transition: 100ms;
    filter: opacity(60%);
}

.typehint {
    font-family: Changa, sans-serif;
    background-color: var(--site-secondary);
    border-color: var(--site-primary);
    border-radius: 2px;
}

.typehint p {
    color: #E1EBEE;
}

.typehint polygon {
    fill: var(--site-secondary) !important;
    z-index: 3;
}

.settings_icon {
    position: fixed;
    z-index: 1;
    top: 2vh;
    right: 2vw;
    color: #707080 !important;
    filter: opacity(50%);
}

.settings_icon:hover {
    filter: opacity(50%) brightness(90%);
}

.settings_icon:active {
    transform: rotate(90deg);
    transition: transform 0.25s ease;
}

.settings_card {
    background-color: #35373d70;
    filter: opacity(90%);
}

.un_focus {
    filter: blur(1px) grayscale(0.4);
    transform: scale(0.9);
    transition-duration: 200ms;
}